@charset 'utf-8';


@media screen and (max-width: 767px) {
    #header input {
        right: 10rem;
        width: 14rem;
    }

}

@media screen and (min-width: 768px) {
    #header {
        height: 8rem;
    }
    .dw-logo {
        width: 7rem;
    }
    .main-search {
        right: 7rem;
        width: 4.2rem;
        height: 4.2rem;
    }
    .main-search span {
        font-size: 4.2rem;
    }
    .gnb-toggle-btn {
        width: 4rem;
        height: 4rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {}

@media screen and (min-width: 1280px) {
    .wrap {
        padding: 0;
    }
    #header {
        height: 9rem;
        text-align: center;
    }
    .dw-logo {
        float: left;
        left: 6rem;
        width: 8rem;
    }
    .main-search {
        right: 6rem;
    }
    .m-dw-gnb, .gnb-toggle-btn {
        display: none;
    }
    .dw-gnb {
        display: inline-block;
    }
    .depth2 {
        padding: 2rem 0 2em 1em;
    }
    #footer {
        padding: 4rem 0 10rem 0;
        text-align: left;
        border-top: 1px solid #ccc;
    }
    #footer .wrap {
        position: relative;
    }
    .service-center {
        position: absolute;
        right: 0;
        top: 4rem;
    }
    .ft-info li {
        position: relative;
        display: inline-block;
        padding: 0 1.8rem;
    }
    .ft-info li:before {
        position: absolute;
        left: 0;
        top: 0.7rem;
        content: '';
        display: block;
        width: 0.1rem;
        height: 1.2rem;
        background-color: #000;
    }
    .ft-info li:first-child {
        padding-left: 0;
    }
    .ft-info li:last-child {
        display: block;
        padding: 0.4rem 0;
    }
    .ft-info li:first-child:before, .ft-info li:last-child:before {
        display: none;
    }
}
@media screen and (min-width: 1400px) {

}
